body{
    text-align: center;
    user-select: none;
}

.text{
    height: 100px;
    width: 100px;
    background-color: red;
    color: white;
}
.images{
    height: 75px;
    padding: 10px;
}
.button{
    width: 100px;
    height: 100px;
    margin: 9px;
    border: none;
    background-color: #acacb8;
    border-radius: 50px;
    cursor :pointer;
}
.button:hover{
    background-color: rgb(105, 97, 97);
    transition: all 0.5s ease-in-out 0s;
}
.Reset{
    cursor :pointer;
    border: 2px solid black;    
    border-radius: 20px;
    padding: 4px 10px;
    color: red;
    background-color: rgb(237, 188, 188);
}
.Reset:hover{
    background-color: rgb(255, 255, 255);
    transition: all 0.5s ease-in-out 0s;
}